<form [formGroup]="form" class="form">
  <div>
    <app-input
      [inputData]="originInput"
      [formGroup]="form"
      (outputData)="validateForm()"
    ></app-input>
  </div>

  <div>
    <app-input
      [inputData]="destinationInput"
      [formGroup]="form"
      (outputData)="validateForm()"
    ></app-input>
  </div>

  <div>
    <app-input
      [inputData]="priceInput"
      [formGroup]="form"
      (outputData)="validateForm()"
    ></app-input>
  </div>

  <div>
    <select
      name="plane"
      id="plane"
      required
      (change)="validateForm()"
      formControlName="plane"
    >
      <option value="" disabled selected>Select a plane</option>
      @for (plane of planes(); track $index) {
      <option [value]="plane.id">{{ plane.model }}</option>
      }
    </select>
  </div>

  <div>
    <app-input
      [inputData]="departureInput"
      [formGroup]="form"
      (outputData)="validateForm()"
    ></app-input>
  </div>

  <div>
    <app-input
      [inputData]="arrivalInput"
      [formGroup]="form"
      (outputData)="validateForm()"
    ></app-input>
  </div>

  <app-button
    [buttonData]="submitButtonData"
    (clickEvent)="submit()"
  ></app-button>
</form>
