<header class="header">
    <div class="header__primary">
        <div class="header__primary__content">
            <div class="header__primary__content__logos">
                <a href="#">
                    <img class="header__primary__content__icon" src="assets/svgs/air-europa-logo.svg" alt="Logo AirEuropa">
                </a>
                <a href="#">
                    <img class="header__primary__content__icon"src="assets/svgs/skyteam.svg" alt="Logo SkyTeam">
                </a>
            </div>
        </div>
    </div>

    <div class="header__secondary">
        <div class="header__secondary__content">
            <h1 class="header__secondary__title"> {{ headerData.title }} </h1>
            <h4 class="header__secondary__subtitle">{{ headerData.subtitle }}</h4>
        </div>
    </div>
</header>