.booking-resume-layout {
  background-color: #f8f9fa;
  display: flex;
  margin: 0 auto;
  width: 930px;
  padding-top: 20px;

  &__flights {
    width: 70%;              
    padding-right: 20px;  
  }

  &__resume {
    width: 30%;              
    position: sticky;      
    top: 17%;              
    height: fit-content;
  }
}
