.booking-resume-layout {
  background-color: #f8f9fa;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    justify-content: space-between;
  
    &__flights {
     
    }
  
    &__resume {
     
    }
  }

  