<div class="input-content" [formGroup]="formGroup()!">

    <input class="input-content__input" 
    [ngClass]="{'input-content__input--not-label': !inputData()?.label,
        'input-content__input--small': inputData()?.size == 'small'
    }"
    [id]="inputData()?.id"
    [type]="inputData()?.type" 
    [placeholder]="inputData()?.placeholder"
    [formControlName]="inputData()?.formControlName ?? ''"
    [required]="inputData()?.required ?? false"
    [attr.aria-label]="inputData()?.label"
    [attr.aria-required]="inputData()?.required ?? null">  
    
    @if (inputData()?.label) {
        <label class="input-content__float-label" [for]="inputData()?.id">{{ inputData()?.label }}</label>
    } 

    @if (inputData()!.icon){
        <span class="input-content__input-icon"
            [ngClass]="{'input-content__input-icon--not-label': !inputData()?.label}">
            <img [src]="inputData()!.icon" alt="input-icon" height="18px">
        </span>
    }

    @if (!inputData()!.icon && formGroup()!.get(inputData()!.formControlName)?.invalid &&
        (formGroup()!.get(inputData()!.formControlName)?.dirty ||
        formGroup()!.get(inputData()!.formControlName)?.touched)) {
        <span class="input-content__input-icon">
            <img src="assets/svgs/danger.svg" alt="input-icon" height="18px">
        </span>

        <span class="input-content__error-message">
            {{ inputData()?.error }}
        </span>
    }
</div>