<div class="stepper">
  <div class="stepper__steps">
    <div class="stepper__step" *ngFor="let step of steps; let i = index" [class.stepper__step--active]="i === currentStepIndex">
      {{ step }}
    </div>
  </div>

  <div class="stepper__content">
    <ng-content></ng-content>
  </div>

  <div class="stepper__actions">
    <button class="stepper__button stepper__button--previous" (click)="goToPreviousStep()" [disabled]="currentStepIndex === 0">
      Pasajero anterior
    </button>
    <button class="stepper__button stepper__button--next" (click)="goToNextStep()" [disabled]="isNextButtonDisabled">
      {{ currentStepIndex === steps.length - 1 ? 'Completar' : 'Siguiente' }}
    </button>
  </div>
</div>
