<div class="stepper">
  <div class="steps">
    <div
      class="step"
      *ngFor="let step of steps; let i = index"
      [class.active]="i === currentStepIndex"
    >
      {{ step }}
    </div>
  </div>

  <div class="content">
    <ng-content></ng-content>
  </div>

  <div class="actions">
    <button
      class="previous-button"
      (click)="goToPreviousStep()"
      [disabled]="currentStepIndex === 0"
    >
      Pasajero anterior
    </button>
    <button class="next-button" (click)="goToNextStep()" [disabled]="isNextButtonDisabled">
      {{ currentStepIndex === steps.length - 1 ? 'Completar' : 'Siguiente' }}
    </button>
  </div>
</div> 
