<lib-resume-card
  [title]="flightSumary.title"
  [departureDate]="flightSumary.departureDate"
  [returnDate]="flightSumary.returnDate"
  [outboundFlight]="flightSumary.outboundFlight"
  [returnFlight]="flightSumary.returnFlight"
  [flightPrice]="flightSumary.flightPrice"
  [adultTicketPrice]="flightSumary.adultTicketPrice"
  [totalPrice]="flightSumary.totalPrice"
  [passengers]="flightSumary.passengers"
  [disclaimerText]="flightSumary.disclaimerText"
  (confirmClicked)="onContinue()"
>
</lib-resume-card>
