.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    font-size: .75rem;
    color: #565656;
    margin-left: 10px;
  }

  &__select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #8a8a8aaf;
  }
}
