.card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;

  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
      display: flex;
      justify-content: space-between;
      color: #555;

      &--label {
        font-weight: bold;
        color: #333;
      }
    }
  }
}
