<div class="flight-card">
  <div class="flight-card__header">
    <h2 class="flight-card__title">{{ title() }}</h2>
    <p class="flight-card__date">{{ date() }}</p>
  </div>
  <div class="flight-card__separator"></div>
  <div class="flight-card__content">

    <div class="flight-card__legs">
      @for (leg of legs(); track $index) {
        <lib-route-flight [routeData]="leg"></lib-route-flight>
      }
    </div>

    <div class="flight-card__right">
      <lib-detail-flight [detailsData]="details()"></lib-detail-flight>
    </div>

  </div>


</div>