@use "sass:color";
@use '../../styles/abstracts/variables' as variables;
@use '../../styles/abstracts/mixins' as mixins;

.button-content {
    display: block;

    &__button {
        @include mixins.content-flex(center, center, 6px);
        padding: 0;
        height: 46px;
        padding: 8px 16px;
        width: 100%;
        border: 1px solid;
        border-radius: 14px;
        font-size: 1rem;
        min-width: 107px;
        font-weight: 700;
        min-height: 30px;
        transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out;

        &:hover {
            cursor: pointer;
        }

        &__icon {

            img {
                height: 16px;
                width: 16px;
            }
        }

        &--icon {
            align-items: stretch;
        }

        &--light {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
    
        &--light:hover {
            background: #00000011;
        }

        &--dark {
            background: #2d69e1;
            border: transparent;
            color: #fff;
        }

        &--dark:hover {
            background-color: color.adjust(#2d69e1, $lightness: -5%);
        }

        &--transparent {
            background: transparent;
            border: none;
            color: variables.$text-color-secondary;
        }
    
        &--transparent:hover {
            background: #00000017;
        }

        &--alternative {
            background: transparent;
            border: none;
            color: variables.$alternative-color;
        }

        &--alternative:hover {
            background: #00000017;
        }

        &--small {
            height: 30px;
            font-size: 12px;
            font-weight: 400;
            border-radius: 5px;
        }

        &--large {
            height: 54px;
        }

        &--disabled  {
            opacity: .5;

            &:hover {
                cursor: auto;
            }
        }
    }

}