<div class="button-content">
    <button role="button" class="button-content__button"
        [ngClass]="{'button-content__button--small': buttonData()?.size == 'small',
            'button-content__button--large': buttonData()?.size == 'large',
            'button-content__button--light': buttonData()?.class == 'light',
            'button-content__button--dark': buttonData()?.class == 'dark',
            'button-content__button--transparent': buttonData()?.class == 'transparent',
            'button-content__button--alternative': buttonData()?.class == 'alternative'}"
        [disabled]="buttonData()?.disabled"
        [attr.aria-label]="buttonData()?.label"
        [attr.aria-disabled]="buttonData()?.disabled ? true : null"
        [routerLink]="buttonData()?.routerLink ? buttonData()?.routerLink : null"
        (click)="clickedEvent()">
        @if (buttonData()?.icon) {
            <span class="button-content__button__icon">
                <img [src]="buttonData()?.icon" alt="button-icon">
            </span>
        }
        {{ buttonData()?.label }} 
    </button>
</div>