@use './variables' as variables;

@mixin content-flex($justify: start, $align: start, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin width-global() {
    max-width: variables.$max-width;
    margin: 0 auto;
}