@use './variables' as variables;

@mixin content-flex($justify: start, $align: start, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin width-global() {
    max-width: variables.$max-width;
    margin: 0 auto;
}

@mixin title-text() {
    color: variables.$primary-color;
    text-align: start;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    font-family: AERadar;
    letter-spacing: normal;
}