$primary-color: #2d69e1;
$secondary-color: #0f2367;
$tertiary-color: #003efc;
$alternative-color: #b428cd;
$alternative-color-2: #00fff0;

$white-color: #fff;
$black-color: #000;
$error-color: #eb0000;

$text-color: #565656;
$text-color-secondary: #0d0d0d;

$max-width: 930px;