.main {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;

  &__container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 448px;
  }
}
