// @use "sass:color";
// @use '../../styles/abstracts/mixins' as mixins;

// .modal {
//     @include mixins.content-flex(center, center);
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);

//     &__content {
//         @include mixins.border-radius-locale();
//         background-color: white;
//         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//         width: 80%;
//         max-width: 500px;
//     }

//     &__header {
//         @include mixins.content-flex(center, space-between);
//         padding: 15px;
//         border-bottom: 1px solid #ddd;
//     }

//     &__title {
//         margin: 0;
//         font-size: 1.2rem;
//     }

//     &__close-button {
//         background: none;
//         border: none;
//         font-size: 2rem;
//         cursor: pointer;
//         color: #555;
//         transition: color 0.2s ease;

//         &:hover {
//             color: #222;
//         }
//     }

//     &__body {
//         padding: 15px;
//     }

//     &__description {
//         margin: 0;
//     }
// }